@{
    ViewData["Title"] = "Ana Səhifə";
}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>MMS - Məzun Məlumat Sistemi</h2>
                                    <p>Keçmişin izini, gələcəyin yolunu burada tapın! Məzunlarımız haqqında ən son məlumatlar.</p>
                                    <div class="gradient-button">
                                        <a asp-controller="Home" asp-action="Graduates">Məzunlara Bax</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="~/assets/images/slider.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4>Bizim <em>Xidmətlər</em></h4>
                    <img src="~/assets/images/heading-line-dec.png" alt="">
                    <p>Tələbə və məzunlar üçün vahid platforma.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="service-item first-service">
                    <div class="icon"></div>
                    <h4>Qeydiyyat</h4>
                    <p>Rahat şəkildə qeydiyyatdan keçin.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item second-service">
                    <div class="icon"></div>
                    <h4>Profil İdarəetmə</h4>
                    <p>Məlumatlarınızı daim yeniləyin.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item third-service">
                    <div class="icon"></div>
                    <h4>Məzun Bazası</h4>
                    <p>İllər üzrə məzunları axtarın.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item fourth-service">
                    <div class="icon"></div>
                    <h4>Dəstək</h4>
                    <p>Texniki dəstək xidməti.</p>
                </div>
            </div>
        </div>
    </div>
</div>