@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Təsdiq</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
</head>
<body>
    <div class="auth-body-bg">
        <div class="auth-card" style="max-width: 500px; padding: 40px; text-align: center;">
            <div style="width:100%;">
                <h3 class="text-success">Zəhmət olmasa E-mailinizi yoxlayın!</h3>
                <p class="mt-3">Şifrəni bərpa etmək üçün təlimatları e-mail ünvanınıza göndərdik.</p>

                @if (TempData["ResetLink"] != null)
                {
                    <div class="alert alert-warning mt-3">
                        <strong>TEST ÜÇÜN LİNK (Realda bu görünməyəcək):</strong> <br />
                        <a href="@TempData["ResetLink"]">Buraya klikləyin</a>
                    </div>
                }

                <a href="/Account/Login" class="btn-modern mt-4">Giriş səhifəsinə qayıt</a>
            </div>
        </div>
    </div>
</body>
</html>