@model MMS.Web.ViewModels.LoginViewModel
@{
    Layout = null; // Standart şablonu ləğv edirik
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="~/assets/css/login.css">
</head>
<body>
    <div class="container">
        <div class="login-section">
            <div class="login-box">
                <h2 data-i18n="welcome">Xoş gəlmisiniz!</h2>
                <p data-i18n="input_Email_password">E-mail və parolunuzu daxil edin</p>

                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" style="color:red; font-size:12px; margin-bottom:10px;"></div>

                    <label for="email">E-mail</label>
                    <input asp-for="Email" type="email" id="email" placeholder="Enter your email" required />
                    <span asp-validation-for="Email" style="color:red; font-size:11px;"></span>

                    <label for="password" data-i18n="password">Parol</label>
                    <input asp-for="Password" type="password" id="password" placeholder="••••••••" required />
                    <span asp-validation-for="Password" style="color:red; font-size:11px;"></span>

                    <button type="submit" class="primary-btn" data-i18n="loginButton">Daxil ol</button>

                    <button type="button" class="google-btn">
                        <img src="https://www.svgrepo.com/show/355037/google.svg" />
                        <span data-i18n="google">Google hasabı ilə davam elə</span>
                    </button>

                    <div class="signup-text">
                        <span data-i18n="noAccount">Həsabınız yoxdu?</span>
                        <a asp-action="Register">Qeydiyyatdan keçin</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="art-section">
            <img src="~/assets/images/logo.png" alt="Logo" class="logo-image" />
        </div>
    </div>

    <script src="~/assets/js/lang.js"></script>
</body>
</html>