@model MMS.Web.ViewModels.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/assets/css/register.css" />
    <link rel="stylesheet" href="~/assets/css/add-info-container.css">
    <link rel="stylesheet" href="~/assets/css/add-lang-register.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">

    <title data-i18n="pageRegister">Qeydiyyat Forması</title>
</head>
<body>
    <div class="main-container">
        <nav class="sidebar">
            <ul class="nav">
                <li><a asp-controller="Home" asp-action="Index" class="return-home" data-i18n="navHome">Geri</a></li>
            </ul>
        </nav>
    </div>

    <form asp-action="Register" method="post" id="mainRegisterForm">
        <div asp-validation-summary="ModelOnly" style="color:white; text-align:center; margin-bottom:10px;"></div>

        <div class="container">
            <div class="title" data-i18n="personalInfoTitle">Şəxsi Məlumatlar</div>
            <div class="columns-3">
                <div class="input-box">
                    <label data-i18n="labelName">Adı</label>
                    <input asp-for="FirstName" placeholder="Adınız" required />
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="input-box">
                    <label data-i18n="labelSurname">Soyadı</label>
                    <input asp-for="LastName" placeholder="Soyadınız" required />
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="input-box">
                    <label data-i18n="labelFatherName">Atasının adı</label>
                    <input type="text" name="FatherName" required />
                </div>
            </div>

            <div class="columns-3">
                <div class="input-box">
                    <label data-i18n="labelDOB">Doğum tarixi</label>
                    <input type="text" name="DOB" placeholder="DD/MM/YYYY" required />
                </div>
                <div class="input-box">
                    <label data-i18n="labelFIN">FİN kod</label>
                    <input type="text" name="FinCode" required />
                </div>
                <div class="input-box">
                    <label data-i18n="labelCitizenship">Vətəndaşlıq</label>
                    <select name="Citizenship" required>
                        <option value="" data-i18n="optionSelect">Seçin</option>
                        <option value="AZ">Azərbaycan</option>
                        <option value="Other">Digər</option>
                    </select>
                </div>
            </div>

            <div class="gender-details">
                <div class="category">
                    <span class="gender-title" data-i18n="genderTitle">Gender:</span>
                    <label class="gender-option">
                        <input type="radio" name="Gender" value="male" required />
                        <span class="custom-radio"></span>
                        <span class="gender" data-i18n="genderMale">Kişi</span>
                    </label>
                    <label class="gender-option">
                        <input type="radio" name="Gender" value="female" />
                        <span class="custom-radio"></span>
                        <span class="gender" data-i18n="genderFemale">Qadın</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="title" data-i18n="educationInfoTitle">Təhsil Məlumatları</div>
            <div class="education-section">
                <div class="columns-3">
                    <div class="input-box">
                        <label data-i18n="labelUniversity">Təhsil müəssisəsi</label>
                        <select name="University" required>
                            <option disabled selected>Seçin</option>
                            <option value="aztu">Azərbaycan Texniki Universiteti</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span>Fakültə</span>
                        <select name="Faculty" required>
                            <option disabled selected>Seçin</option>
                            <option value="it">İnformasiya texnologiyaları</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span>İxtisas</span>
                        <select name="Specialty" required>
                            <option disabled selected>Seçin</option>
                            <option value="cs">Kompüter elmləri</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="title" data-i18n="contactInfoTitle">Giriş Məlumatları</div>
            <div class="columns-3">
                <div class="input-box">
                    <label>Email</label>
                    <input asp-for="Email" placeholder="example@gmail.com" required />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="input-box">
                    <label>Şifrə</label>
                    <input asp-for="Password" type="password" placeholder="********" required />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="input-box">
                    <label>Şifrə Təkrarı</label>
                    <input asp-for="ConfirmPassword" type="password" placeholder="********" required />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
        </div>

        <div style="text-align: center; margin-top: 20px; margin-bottom:50px;">
            <button type="submit" class="register-btn" data-i18n="registerButton">
                Qeydiyyatdan keç
            </button>
        </div>
    </form>

    <div class="col-lg-12">
        <div class="copyright-text" style="color:white; text-align:center;">
            <p>
                Copyright © 2025 MMS <br />
                Design: M Safarova
            </p>
        </div>
    </div>

    <script src="~/assets/js/register.js"></script>
    <script src="~/assets/js/add-job.js"></script>
    <script src="~/assets/js/graduation-year.js"></script>
    <script src="~/assets/js/add-edu.js"></script>
    <script src="~/assets/js/add-language.js"></script>
    <script src="~/assets/js/lang.js"></script>
</body>
</html>