@using Microsoft.AspNetCore.Identity
@using MMS.Core.Entities
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<nav class="main-nav">
    <ul class="nav">
        <li><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
        <li><a asp-controller="Home" asp-action="Graduates">Məzunlar</a></li> @if (SignInManager.IsSignedIn(User))
                {
            var user = await UserManager.GetUserAsync(User);
            <li class="submenu">
                <a href="javascript:;">
                    @if (!string.IsNullOrEmpty(user.ProfileImageUrl))
                    {
                        <img src="~/uploads/@user.ProfileImageUrl" style="width:30px; border-radius:50%;" />
                    }
                    else
                    {
                        <i class="fa fa-user"></i>
                    }
                    @user.FirstName @user.LastName
                </a>
                <ul>
                    <li><a asp-controller="Account" asp-action="Profile">Profilim</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">Çıxış</a></li>
                </ul>
            </li>
        }
                else
        {
            <li><div class="gradient-button"><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in-alt"></i> Hesab Aç</a></div></li>
        }
    </ul>
</nav>